body {
  background-color: #add8e6;
}
/* Container pai */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  width: 566px;
  background-color: #d8d4d4;
  border:1px solid #000;
}
/* Menu */
ul {
  width: 566px;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #000;
  height: 40px;
  padding-left: 0;
  margin-top: 0;
}
/*Lista itens menu */
li {
  margin-left: 10px;
  color: #fff;
  font-family: sans-serif;
}
/* Pagina Principal */
#header h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: -10px;
}
/* Conteudo */
#content {
  margin: 20px;
}

/*Recuo */
.recuo {
  margin-left: 40px;
}
/* Destaque */
.destaque {
  color: red;
}
